<% admin_breadcrumb(link_to(plural_resource_name(Spree::Blog), main_app.admin_blogs_path)) %>
<% admin_breadcrumb('Edit Blog Post') %>

<% content_for :page_actions do %>
  <li>
    <%= link_to 'New Blog', main_app.new_admin_blog_url, class: 'btn btn-primary' %>
  </li>
  <li>
    <%= link_to 'View Blog', main_app.blog_path(@blog), class: 'btn btn-secondary' %>
  </li>
<% end %>

<%= form_for @blog, url: main_app.admin_blog_path, html: { method: :put } do |f| %>
  <fieldset class="no-border-top">
    <%= render 'form', f: f %>
    <% if can? :update, @blog %>
      <%= render partial: 'spree/admin/shared/edit_resource_links', locals: {collection_url: main_app.admin_blogs_path} %>
    <% end %>
  </fieldset>
<% end %>