<% admin_breadcrumb(link_to(plural_resource_name(Spree::Blog), main_app.admin_blogs_path)) %>

<% content_for :page_actions do %>
  <li>
    <%= link_to 'New Blog Post', main_app.new_admin_blog_url, class: 'btn btn-primary' %>
  </li>
<% end %>

<% content_for :table_filter_title do %>
  <%= t('spree.filter') %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_blogs_index_search">
    <%= search_form_for @search, url: main_app.admin_blogs_path do |f| %>
      <div class="row">
        <div class="field-block col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="date-range-filter field">
            <%= label_tag :q_created_at_gt, t('spree.date_range') %>
            <div class="date-range-fields input-group">
              <%= f.text_field :created_at_gt, class: 'datepicker form-control datepicker-from', value: params[:q][:created_at_gt], placeholder: t('spree.start') %>

              <div class="input-group-prepend input-group-append">
                <span class="input-group-text range-divider">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </div>

              <%= f.text_field :created_at_lt, class: 'datepicker form-control datepicker-to', value: params[:q][:created_at_lt], placeholder: t('spree.stop') %>
            </div>
          </div>

          <div class="field">
            <%= label_tag :title_cont, 'Title' %>
            <%= f.text_field :title_cont, value: params[:q][:title_cont], size: 25 %>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="field">
            <%= label_tag :q_blog_category_id, 'Category' %>
            <%= f.select :blog_category_id, BlogCategory.all.map { |bc| [bc.name, bc.id] }, { include_blank: true }, { class: "custom-select fullwidth" } %>
          </div>

          <div class="field">
            <%= label_tag :q_published, 'Published' %>
            <%= f.check_box :published, { checked: @show_only_published }, "1", "0" %>
          </div>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_orders_index_search_buttons">
          <%= button_tag t('spree.filter_results'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @blogs.any? %>
  <table class="index" id="listing_orders" data-hook>
    <colgroup>
       <col style="width: 15%;">
       <col style="width: 25%;">
       <col style="width: 20%;">
       <col style="width: 10%;">
       <col style="width: 15%;">
       <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th><%= link_to "Title", main_app.admin_withdrawal_requests_path(sort: "email asc") %></th>
        <th><%= link_to "Body", main_app.admin_withdrawal_requests_path(sort: "balance asc") %></th>
        <th><%= link_to "Published", main_app.admin_withdrawal_requests_path(sort: "published asc") %></th>
        <th><%= link_to "Blog Category", main_app.admin_withdrawal_requests_path(sort: "published asc") %></th>
        <th><%= link_to "Created At", main_app.admin_withdrawal_requests_path(sort: "created_at asc") %></th>
        <th data-hook="admin_orders_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @blogs.each do |blog| %>
      <tr data-hook="admin_orders_index_rows">
        <td><%= blog.title %></td>
        <td><%= blog.body.to_plain_text.truncate(150) %></td>
        <td><%= blog.published %></td>
        <td><% if !blog.blog_category.nil? %><%= blog.blog_category.name %><% end %></td>
        <td><%= blog.created_at %></td>
        <td class='actions align-center' data-hook="admin_orders_index_row_actions">
          <%= link_to_edit_url main_app.edit_admin_blog_path(blog), title: "admin_edit_#{dom_id(blog)}", no_text: true %>
          <%= link_to 'Preview', main_app.blog_path(blog), target: '_blank' %>
          <%= link_to main_app.admin_blog_path(blog), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash"><% end %></td>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%= paginate @blogs, theme: "solidus_admin" %>
<% else %>
  <div class="no-objects-found">
    <% if can? :manage, Spree::Blog %>
      <%= render 'spree/admin/shared/no_objects_found',
                   resource: Spree::Blog,
                   new_resource_url: main_app.new_admin_blog_path %>
    <% end %>
  </div>
<% end %>