<% account ||= spree_current_user
%>

<div class="card m-2">
    <div class="card-body">
        <h4 class="card-title"><%= t('pd.account_info') %></h4>
        <p class="card-description">
            <%= t('pd.account_info_msg') %>
        </p>
        <form class="forms-sample">
            <div class="form-group">
                <label for="account-email"><%= t('pd.email') %></label>
                <input type="text" value="<%= account.email %>" class="form-control" id="account-email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="account-current-password"><%= t('pd.current_password') %></label>
                <input type="password" class="form-control" id="account-current-password" placeholder="Current Password">
            </div>
            <div class="form-group">
                <label for="account-new-password"><%= t('pd.new_password') %></label>
                <input type="password" class="form-control" id="account-new-password" placeholder="New Password">
            </div>
            <div class="form-group">
                <label for="account-confirm-password"><%= t('pd.confirm_new_password') %></label>
                <input type="password" class="form-control" id="account-confirm-password" placeholder="Confirm New Password">
            </div>
            <button type="submit" class="btn btn-primary mr-2"><%= t('pd.submit') %></button>
        </form>
    </div>
</div>