<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/home">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title"><%= t('pd.home') %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/shipping_requests">
        <i class="fas fa-dolly menu-icon"></i>
        <span class="menu-title"><%= t('pd.shipping_requests') %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/notifications">
        <i class="fas fa-bells menu-icon"></i>
        <span class="menu-title"><%= t('pd.all_notifications') %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-your-info" aria-expanded="false" aria-controls="ui-your-info">
        <i class="fas fa-info-circle menu-icon"></i>
        <span class="menu-title"><%= t('pd.your_account_info') %></span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-your-info">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/producer_dashboard/contact_info"><%= t('pd.contact_info') %></a></li>
          <li class="nav-item"> <a class="nav-link" href="/producer_dashboard/brand_info"><%= t('pd.brand_info') %></a></li>
          <li class="nav-item"> <a class="nav-link" href="/producer_dashboard/change_password"><%= t('pd.change_password') %></a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="fas fa-hand-holding-usd menu-icon"></i>
        <span class="menu-title"><%= t('pd.withdrawal') %></span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/producer_dashboard/withdrawals"><%= t('pd.wd_requests') %></a></li>
          <li class="nav-item"> <a class="nav-link" href="/producer_dashboard/request_withdrawal"><%= t('pd.submit_wd') %></a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/orders">
        <i class="fas fa-clipboard-list menu-icon"></i>
        <span class="menu-title"><%= t('pd.order') %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/products">
        <i class="fas fa-boxes menu-icon"></i>
        <span class="menu-title"><%= t('pd.products') %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/payment_info">
        <i class="fas fa-money-check-edit-alt menu-icon"></i>
        <span class="menu-title"><%= t('pd.payment_info') %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/support">
        <i class="fas fa-user-headset menu-icon"></i>
        <span class="menu-title"><%= t('pd.support') %></span>
      </a>
    </li>
  </ul>
</nav>