<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><%= t('pd.send_message_for_support') %></h4>
            <p class="card-description">
                <%= t('pd.support_desc') %><br>
                <%= t('pd.support_change_product_info') %>
            </p>

            <%= form_for @ticket, url: main_app.producer_dashboard_submit_ticket_path, html: { method: :post } do |f| %>
                <%= f.hidden_field :user_id, value: spree_current_user.id, required: true %>
                <div class="form-group">
                    <label for="payment-full-name"><%= t('pd.support_title') %></label>
                    <%= f.text_field :title, class: 'form-control', required: true %>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1"><%= t('pd.support_body') %></label>
                    <%= f.text_area :body, class: 'form-control', required: true, rows: 4 %>
                </div>
                <div class="form-group">
                    <label><%= t('pd.support_image') %></label>
                    <div class="row">
                        <div class="col-12">
                            <%= image_tag(@ticket.picture_url) if @ticket.picture? %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <%= f.file_field :picture, id:"file-input"%>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2"><%= t('submit') %></button>
            <% end %>
        </div>
    </div>
</div>