<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold"><%= t('pd.welcome') %>!</h3>
                <h6 class="font-weight-normal mb-0"><%= t('pd.intro_prefix') %> 
                  <%= link_to main_app.producer_dashboard_shipping_requests_page_path do %>
                    <span class="text-primary"><b><%= @requests.length %> <%= t('pd.intro_suffix') %></b></span>
                  <% end %>
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 mb-4">
    <%= render partial: 'spree/producer_dashboard/elements/shipping_requests_table', locals: { requests: @requests, home: true } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <%= render partial: 'spree/producer_dashboard/elements/withdrawal_summary', locals: { home: true } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <%= render partial: 'spree/producer_dashboard/elements/withdrawals_table', locals: { wd_requests: @wd_requests, home: true } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <%= render partial: 'spree/producer_dashboard/elements/withdrawal_balances_table', locals: { wd_balances: @wd_balances, home: true } %>
  </div>
</div>