<h3><%= t('pd.your_shipping_requests') %></h3>
<div class="row mt-4">
    <div class="col-md-12">
        <div class="input-group mb-4">
            <%= search_form_for @q, url: main_app.producer_dashboard_shipping_requests_page_path do |f| %>
                <%= f.label 'Filter Status' %>
                <%= f.select :status_eq, [ [t('pd.all'), ''], [t('pd.pending'), 'pending'], [t('pd.shipped'), 'shipped'], [t('pd.processing'), 'processing'] ], 
                    {required: true, include_hidden: true}, class: 'form-control select2-basic content-search',
                    :onchange => 'this.form.submit()' %>
            <% end %>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <%= render partial: 'spree/producer_dashboard/elements/shipping_requests_table', locals: { requests: @requests } %>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
</div>
