<% textClass ||= "" %>
<li class=""><a href="/products">
    <span class="menu-text <%= textClass %>">Fashion</span></a>
</li>
<li class="">
    <a href="/products"><span class="menu-text <%= textClass %>">Accessories</span></a>
</li>
<li class=""><a href="/products">
    <span class="menu-text <%= textClass %>">Home Deco</span></a>
</li>
<li class=""><a href="/products">
    <span class="menu-text <%= textClass %>">Gifts</span></a>
</li>
<li class="has-children"><a href="#"><span class="menu-text <%= textClass %>">Info</span></a>
    <ul class="sub-menu">
        <li><a href="/blogs"><span class="menu-text <%= textClass %>">Newsletter</span></a></li>
        <li><a href="/about-us"><span class="menu-text <%= textClass %>">About Us</span></a></li>
        <li><a href="/contact-us"><span class="menu-text <%= textClass %>">Contact Us</span></a></li>
    </ul>
</li>