<% textClass ||= "" %>
<li class=""><a href="/products">
    <span class="menu-text <%= textClass %>">Products</span></a>
</li>
<li class=""><a href="/natural-fibers">
    <span class="menu-text <%= textClass %>">Natural Fibers</span></a>
</li>
<li class="">
    <a href="<%= @gifts_link %>"><span class="menu-text <%= textClass %>">Our Story</span></a>
</li>
<li class="">
    <a href="<%= @gifts_link %>"><span class="menu-text <%= textClass %>">Sustainability Impact</span></a>
</li>
<li class="has-children"><a href="#"><span class="menu-text <%= textClass %>">Info</span></a>
    <ul class="sub-menu">
        <li><a href="/blogs"><span class="menu-text">Newsletter</span></a></li>
        <li><a href="/about-us"><span class="menu-text">About Us</span></a></li>
        <li><a href="/contact-us"><span class="menu-text">Contact Us</span></a></li>
    </ul>
</li>