<% @categories = Spree::Taxon.find_by(name: "Categories").children %>
<div class="header-section section bg-white d-none d-xl-block">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <div class="col-auto">
                <div class="header-logo justify-content-center">
                    <a href="/"><%= image_tag "logo/logo.png", style: "max-width: 220px" %></a>
                </div>
            </div>

            <div class="col">
                <div class="header6-search">
                    <%= form_tag spree.products_path, method: :get do %>
                        <% cache [I18n.locale, @categories] do %>
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <%= select_tag :taxon, 
                                        options_for_select([[t('spree.all_departments'), '']] +
                                                                @categories.map {|t| [t.name, t.id]},
                                                                @taxon ? @taxon.id : params[:taxon]), class: 'search-select select2-basic', 'aria-label' => 'Taxon' %>
                                </div>
                                <div class="col">
                                    <%= search_field_tag :keywords, params[:keywords], placeholder: 'What can we help you find?' %>
                                </div>
                                <button type="submit"><i class="fal fa-search"></i></button>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="col-auto">
                <div class="header-tools justify-content-end">
                    <div class="header-login">
                        <a href="/account"><i class="fal fa-user"></i></a>
                    </div>
                    <div class="header-cart">
                        <% if current_order.nil? %>
                            <% num_of_items = 0 %>
                        <% else %>
                            <% num_of_items = current_order.line_items.count %>
                        <% end %>
                        <% if !current_page?(cart_path) %>
                            <a href="#offcanvas-cart" class="offcanvas-toggle" data-bs-toggle="offcanvas" aria-controls="offcanvas-cart"><span class="cart-count"><%= num_of_items %></span><i class="fal fa-shopping-cart"></i></a>
                        <% else %>
                            <a href="/cart"><span class="cart-count"><%= num_of_items %></span><i class="fal fa-shopping-cart"></i></a>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="site-menu-section section border-top border-bottom">
        <div class="container">
            <div class="header-categories">
                <button class="category-toggle"><i class="fal fa-bars"></i> Browse Categories</button>
                <ul class="header-category-list">
                    <li><a href="#"><%= image_tag "icons/cat-icon-1.png" %> Daily Gifts</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-2.png" %> Wedding Gifts</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-3.png" %> Lover's Gifts</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-4.png" %> Holiday Gifts</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-5.png" %> Home Decorations</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-6.png" %> Potteries</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-7.png" %> Metals</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-8.png" %> Accessories</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-9.png" %> Glasses</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-10.png" %> On Sale</a></li>
                </ul>
            </div>
            <nav class="site-main-menu justify-content-center menu-height-60">
                <ul>
                    <li><a href="/"><span class="menu-text">Home</span></a>
                    </li>
                    <li class="has-children"><a href="/products"><span class="menu-text">Shop</span></a>
                        <ul class="sub-menu mega-menu">
                            <li>
                                <a href="#" class="mega-menu-title"><span class="menu-text">Popular Categories</span></a>
                                <ul>
                                    <li><a href="shop.html"><span class="menu-text">Potteries</span></a></li>
                                    <li><a href="shop-left-sidebar.html"><span class="menu-text">Glasses</span></a></li>
                                    <li><a href="shop-right-sidebar.html"><span class="menu-text">Bags</span></a></li>
                                    <li><a href="shop-fullwidth-no-gutters.html"><span class="menu-text">Fashion</span></a></li>
                                    <li><a href="shop-fullwidth.html"><span class="menu-text">Metals</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="mega-menu-title"><span class="menu-text">Gifts for You</span></a>
                                <ul>
                                    <li><a href="product-details.html"><span class="menu-text">Daily Gifts</span></a></li>
                                    <li><a href="product-details-fullwidth.html"><span class="menu-text">Wedding Gifts</span></a></li>
                                    <li><a href="product-details-sticky.html"><span class="menu-text">Lover's Gifts</span></a></li>
                                    <li><a href="product-details-sticky.html"><span class="menu-text">Holiday Gifts</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="mega-menu-title"><span class="menu-text">Our Featured Producers</span></a>
                                <ul>
                                    <li><a href="product-details-background.html"><span class="menu-text">Pancaniti Keramik</span></a></li>
                                    <li><a href="shopping-cart.html"><span class="menu-text">Wadah Terrarium</span></a></li>
                                    <li><a href="checkout.html"><span class="menu-text">Anita Bags</span></a></li>
                                    <li><a href="order-tracking.html"><span class="menu-text">Yayan Woodworks</span></a></li>
                                </ul>
                            </li>
                            <li class="align-self-center">
                                <a href="#" class="menu-banner"><%= image_tag "for_use/banner/menu-banner-1.jpg" %></a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/about-us"><span class="menu-text">About Us</span></a>
                    </li>
                    <li><a href="/contact-us"><span class="menu-text">Contact Us</span></a>
                    </li>
                    <li><a href="/blogs"><span class="menu-text">Blog</span></a>
                    </li>
                </ul>
            </nav>
            <div class="header-call">
                <p><i class="fa fa-phone"></i><a href="http://wa.link/bp9y09">+62 812 8793 5234</a></p>
            </div>
        </div>
    </div>

</div>