<% @categories = Spree::Taxon.find_by(name: "Categories").children %>
<div class="header-section section bg-white d-none d-xl-block">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <div class="col-auto">
                <div class="header-logo justify-content-center">
                    <a href="/"><%= image_tag "logo/logo.png", style: "max-width: 200px" %></a>
                </div>
            </div>

            <div class="col">
                <div class="header6-search">
                    <%= form_tag spree.products_path, method: :get do %>
                        <% cache [I18n.locale, @categories] do %>
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <%= select_tag :taxon, 
                                        options_for_select([[t('spree.all_departments'), '']] +
                                                                @categories.map {|t| [t.name, t.id]},
                                                                @taxon ? @taxon.id : params[:taxon]), class: 'search-select select2-basic', 'aria-label' => 'Taxon' %>
                                </div>
                                <div class="col">
                                    <%= search_field_tag :keywords, params[:keywords], placeholder: 'What can we help you find?' %>
                                </div>
                                <button type="submit"><i class="fal fa-search"></i></button>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="col-auto">
                <div class="header-tools justify-content-end">
                    <div class="header-login">
                        <a href="/account"><i class="fal fa-user"></i></a>
                    </div>
                    <div class="header-cart">
                        <% if current_order.nil? %>
                            <% num_of_items = 0 %>
                        <% else %>
                            <% num_of_items = current_order.line_items.count %>
                        <% end %>
                        <% if !current_page?(cart_path) && !request.path.include?("login") && !request.path.include?("signup") %>
                            <!--<a href="#offcanvas-cart" class="offcanvas-toggle" data-bs-toggle="offcanvas" aria-controls="offcanvas-cart"><span class="cart-count"><%= num_of_items %></span><i class="fal fa-shopping-cart"></i></a>-->
                            <a target="_blank" href="https://wa.me/+6281287935234?text=Hi! I am interested in learning about Pradipa.co and what you could offer">
                                <i class="fal fa-phone"></i>
                            </a>
                        <% else %>
                            <!--<a href="/cart"><span class="cart-count"><%= num_of_items %></span><i class="fal fa-shopping-cart"></i></a>-->
                            <a target="_blank" href="https://wa.me/+6281287935234?text=Hi! I am interested in learning about Pradipa.co and what you could offer">
                                <i class="fal fa-phone"></i>
                            </a>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="site-menu-section section border-top border-bottom">
        <div class="container">
            <div class="header-categories">
                <button class="category-toggle"><i class="fal fa-bars"></i> Browse Categories</button>
                <ul class="header-category-list">
                    <li><a href="#"><%= image_tag "icons/cat-icon-10.png" %> On Sale</a></li>
                    <li><a href="#"><%= image_tag "for_use/icons/man.png" %> Fashion for Men</a></li>
                    <li><a href="#"><%= image_tag "for_use/icons/woman.png" %> Fashion for Women</a></li>
                    <li><a href="#"><%= image_tag "for_use/icons/gift.png" %> Birthday Gifts</a></li>
                    <li><a href="#"><%= image_tag "for_use/icons/lover.png" %> Lover's Gifts</a></li>
                    <li><a href="#"><%= image_tag "for_use/icons/holiday.png" %> Holiday Gifts</a></li>
                    <li><a href="#"><%= image_tag "icons/cat-icon-2.png" %> Brooches</a></li>
                    <li><a href="#"><%= image_tag "for_use/icons/wallet.png" %> Wallets</a></li>
                    <li><a href="#"><%= image_tag "for_use/icons/bag.png" %> Bags</a></li>
                </ul>
            </div>
            <nav class="site-main-menu justify-content-center menu-height-60">
                <ul>
                    <%= render 'spree/sections/flat_menu' %>
                </ul>
            </nav>
            <div class="header-call">
                <p><i class="fa fa-phone"></i><a href="http://wa.link/bp9y09">+62 812 8793 5234</a></p>
            </div>
        </div>
    </div>

</div>