<div class="home12-slider section swiper-container">
    <div class="swiper-wrapper">
        <div class="home12-slide-item swiper-slide" data-swiper-autoplay="5000" data-bg-image="<%= image_url('for_use/slider/slide-1.webp') %>">
            <div class="home12-slide2-content">
                <div class="bg"></div>
                <%= image_tag "logo/logo-4-big.png", class: "icon" %>
                <span class="title" style="text-align:center">Mediterranean Fashion</span>
                <div class="link"><a href="/collection/mediterranean-fashion-collection">Shop collection</a></div>
            </div>
        </div>
        <div class="home12-slide-item swiper-slide" data-swiper-autoplay="5000" data-bg-image="<%= image_url('for_use/slider/slide-2.jpg') %>">
            <div class="home12-slide2-content">
                <div class="bg"></div>
                <%= image_tag "logo/logo-4-big.png", class: "icon" %>
                <span class="title" style="text-align:center">Vintage Radio</span>
                <div class="link"><a href="/collection/wooden-vintage-radio-collection">Shop collection</a></div>
            </div>
        </div>
        <div class="home12-slide-item swiper-slide" data-swiper-autoplay="5000" data-bg-image="<%= image_url('for_use/slider/slide-3.jpg') %>">
            <div class="home12-slide2-content">
                <div class="bg"></div>
                <%= image_tag "logo/logo-4-big.png", class: "icon" %>
                <span class="title" style="text-align:center">Handmade Leather Wallet</span>
                <div class="link"><a href="/collection/handmade-leather-wallet-collection">Shop collection</a></div>
            </div>
        </div>
    <div class="home12-slider-prev swiper-button-prev"><i class="fal fa-chevron-left"></i></div>
    <div class="home12-slider-next swiper-button-next"><i class="fal fa-chevron-right"></i></div>
</div>