<div class="home12-slider section swiper-container">
    <div class="swiper-wrapper">
        <div class="home12-slide-item swiper-slide" data-swiper-autoplay="5000" data-bg-image="<%= image_url('for_use/slider/slide-1.jpg') %>">
            <div class="home12-slide1-content">
                <div class="bg"></div>
                <span class="sub-title">First-rate</span>
                <h2 class="title">JUST FOR YOU</h2>
                <%= image_tag "banner/sale/sale-banner4-1.1.png", class: "price" %>
            </div>
        </div>
        <div class="home12-slide-item swiper-slide" data-swiper-autoplay="5000" data-bg-image="<%= image_url('for_use/slider/slide-2.jpg') %>">
            <div class="home12-slide2-content">
                <div class="bg"></div>
                <%= image_tag "logo/logo-4-big.png", class: "icon" %>
                <span class="title">Spring sale</span>
                <%= image_tag "slider/home12/slide-2.1.png", class: "price" %>
                <div class="link"><a href="shop.html">Shop collection</a></div>
            </div>
        </div>
        <div class="home12-slide-item swiper-slide" data-swiper-autoplay="5000" data-bg-image="<%= image_url('for_use/slider/slide-3.jpg') %>">
            <div class="home12-slide3-content">
                <div class="bg"></div>
                <h2 class="title">Just for you</h2>
                <h3 class="sub-title">
                    <%= image_tag "slider/home1/slide-2-2.png", class: "left-icon" %>
                    Making & crafting
                    <%= image_tag "slider/home1/slide-2-3.png", class: "right-icon" %>
                </h3>
                <span class="price" style="color:darkgrey">FROM $39</span>
            </div>
        </div>
    </div>
    <div class="home12-slider-prev swiper-button-prev"><i class="fal fa-chevron-left"></i></div>
    <div class="home12-slider-next swiper-button-next"><i class="fal fa-chevron-right"></i></div>
</div>