<div class="section section-padding">
    <div class="container">

        <div class="text-center learts-mb-30">
            <h2 class="title title-icon-both">Our Services</h2>
            <p>We provide one-stop solution for worriless service for you</p>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="portfolio-overview">
                    <p>We value you as our customers and strive our best to meet your sustainable, natural, and </p>
                    <div class="row">
                        <div class="col-lg-6 col-12 learts-mb-30">
                            <div class="sale-banner7">
                                <div class="inner">
                                    <div class="image"><%= image_tag "product/single/3/banner/banner-1.jpg" %></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 learts-mb-30">
                            <div class="row learts-mb-n30">
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "product/single/3/banner/banner-2.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "product/single/3/banner/banner-3.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "product/single/3/banner/banner-4.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "product/single/3/banner/banner-5.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Then I got to learn about how to start a website on my own. I created a website called leartshandmade.com. I spent years developing it, teaching HTML to myself, networking with in-field professionals, and growing it into a profitable business.</p>
                    <p>Throughout the years, I cooperated with plenty of craft companies to grow my website. I had worked as the craft expert for Miimo Studio (miimo.thememove.com), and created fun crafts for kids from 2009-2016. Also, I have self-published many online magazines, including ForHer.mag.com, LiveLife.com & ForEverYoung.net.</p>
                </div>
            </div>

        </div>
    </div>
</div>