<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n40">

            <div class="col-lg-4 learts-mb-40">
                <div class="section-title2 mb-5">
                    <h2 class="title title-icon-right">Blog update</h2>
                    <p>Subscribe for latest news and blog updates from our editor.</p>
                </div>
                <ul class="widget-list">
                    <% @recent_posts.each do |post| %>
                        <li><i class="fal fa-long-arrow-right"></i><%= link_to post.title, main_app.blog_path(post) %></li>
                    <% end %>
                </ul>
            </div>

            <div class="col-lg-8 learts-mb-40">
                <div class="row learts-mb-n40">
                    <% @recent_posts.first(2).each do |post| %>
                        <div class="col-md-6 col-12 learts-mb-40">
                            <div class="blog">
                                <div class="image">
                                    <a href="<%= main_app.blog_path(post) %>"><%= image_tag post.featured_image.url %></a>
                                </div>
                                <div class="content">
                                    <ul class="meta">
                                        <li><i class="far fa-calendar"></i><a href="#"><%= post.created_at %></a></li>
                                    </ul>
                                    <h5 class="title"><a href="<%= main_app.blog_path(post) %>"><%= post.title %></a></h5>
                                    <div class="desc">
                                        <%= post.body %>
                                    </div>
                                    <a href="<%= main_app.blog_path(post) %>" class="link">Read More</a>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>