<!doctype html>
<html lang="<%= I18n.locale %>">
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T8E6PZ3W6R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-T8E6PZ3W6R');
    </script>
  </head>
  <body id="<%= @body_id || 'default' %>" data-hook="body">
    <% if current_page?(main_app.spree_path) || (controller.controller_name == "collections" && controller.action_name == "show") %>
      <%= render partial: 'spree/sections/transparent_header' %>
    <% else %>
      <%= render partial: 'spree/sections/header_simplified' %>
    <% end %>

    <%= render partial: 'spree/sections/header_sticky' %>

    <% if current_page?(main_app.spree_path) || (controller.controller_name == "collections" && controller.action_name == "show") %>
      <%= render partial: 'spree/sections/transparent_mobile_header' %>
    <% else %>
      <%= render partial: 'spree/sections/mobile_header' %>
    <% end %>
    <%= render partial: 'spree/sections/mobile_header_sticky' %>
    
    <%= render partial: 'spree/offcanvases/search' %>
    <%= render partial: 'spree/offcanvases/mobile_menu' %>
    
    <% if !current_page?(cart_path) && !request.path.include?("login") && !request.path.include?("signup") %>
      <%= render partial: 'spree/offcanvases/cart' %>
    <% end %>

    <% if !current_page?(products_path) %>
      <%= render partial: 'spree/elements/whatsapp_fab' %>
    <% end %>

    <%= yield %>
    <%= yield :templates %>

    <%= render partial: 'spree/elements/spinner' %>

    <% if request.path.include?("checkout") %>
      <% if !mobile_device? %>
        <%= render partial: 'spree/shared/footer' %>
      <% end %>
    <% else %>
      <%= render partial: 'spree/shared/footer' %>
    <% end %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-sidebar/3.3.1/jquery.sticky-sidebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    
    <% if current_page?(main_app.spree_path) || current_page?(main_app.about_us_page_path) %>
      <%= javascript_include_tag 'instafeed.min.js' %>
      <script>
        var feed = new Instafeed({
            accessToken: 'IGQVJXT3J0MG5rRldyaEoyOXZAjZAXpEZAlhpbGpueU9kNVNnTU9WRmpUT3NDR2o4Uk1wc3pBVnQ5MndlY1FrQmhHczE1cmwzR21Tay1hak9rQXdUTDRGaGxaWDZAWdnZACbFFfeFN6ZAHpyNnNKZAWUwUFc3egZDZD',
            limit: 5
        });
        feed.run();
      </script>
    <% end %>
    
    <%= javascript_include_tag 'main.js' %>
  </body>
</html>
