<div id="offcanvas-filter" tabindex="-1" class="offcanvas offcanvas-bottom offcanvas-filter" aria-labelledby="offcanvas-filter-label">
    <div class="inner">
        <div class="head">
            <span class="title"><strong>Filter Products</strong></span>
            <button class="offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close">×</button>
        </div>
        <div class="body" style="overflow: auto">
            <div class="col-lg-3 col-12 learts-mb-10 order-lg-1">

                <div class="product-column-toggle d-none d-xl-flex single-widget learts-mb-40">
                    <button class="toggle hintT-top" data-hint="5 Column" data-column="5"><i class="fas fa-grip-horizontal"></i></button>
                    <button class="toggle active hintT-top" data-hint="4 Column" data-column="4"><i class="fas fa-grip-vertical"></i></button>
                    <button class="toggle hintT-top" data-hint="3 Column" data-column="3"><i class="fas fa-grip-lines"></i></button>
                </div>

                <div class="single-widget learts-mb-40">
                    <div class="widget-search">
                        <%= form_tag spree.products_path, method: :get do %>
                            <%= search_field_tag :keywords, params[:keywords], placeholder: 'Search Products...' %>
                            <button><i class="fal fa-search"></i></button>
                        <% end %>
                    </div>
                </div>

                <div class="product-sorting single-widget learts-mb-40">
                    <select id="product-sorter2" class="nice-select" 
                        onchange="window.sortChange($('#product-sorter2').val())" >
                        <option value="menu_order" <%= params[:sort] == 'menu_order' ? 'selected' : '' %>>Default sorting</option>
                        <option value="latest" <%= params[:sort] == 'latest' ? 'selected' : '' %>>Sort by latest</option>
                        <option value="price" <%= params[:sort] == 'price' ? 'selected' : '' %>>Sort by price: low to high</option>
                        <option value="price-desc" <%= params[:sort] == 'price-desc' ? 'selected' : '' %>>Sort by price: high to low</option>
                    </select>
                </div>

                <div class="single-widget learts-mb-40">
                    <h3 class="widget-title product-filter-widget-title">Filters by price</h3>
                    <div class="widget-price-range">
                        <% from = params[:pricefrom].nil? ? 0 : params[:pricefrom]
                            to = params[:priceto].nil? ? 350 : params[:priceto] %>
                        <input class="price-slider" type="text" data-min="0" data-max="350" data-from="<%= from %>" data-to="<%= to %>" />
                    </div>
                </div>

                <div class="single-widget learts-mb-40">
                    <h3 class="widget-title product-filter-widget-title">Filter by Category</h3>
                    <ul class="widget-list filter-by-taxon">
                        <% @taxonomies.find_by(name: 'Categories').taxons.each do |taxonomy| %>
                            <% if taxonomy.name != 'Categories' %>
                                <li style="margin-top: 10px">
                                    <%= link_to taxonomy.name, :sort => params[:sort], :keywords => params[:keywords], :taxon => taxonomy.id %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>

                    <h3 class="widget-title product-filter-widget-title mt-4">Filter by Brand</h3>
                    <ul class="widget-list filter-by-taxon">
                        <% @taxonomies.find_by(name: 'Brand').taxons.each do |taxonomy| %>
                            <% if taxonomy.name != 'Brand' %>
                                <li style="margin-top: 10px">
                                    <%= link_to taxonomy.name, :sort => params[:sort], :keywords => params[:keywords], :taxon => taxonomy.id %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="offcanvas-toggle fab-button d-lg-none d-xl-none" aria-controls="offcanvas-cart" style="z-index:2000;display:none"><i class="fas fa-filter"></i> Filter Now</button>