<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
    <li class="<%= cycle('', 'alt') %> line-item">
        <%= link_to(render('spree/shared/image',
            image: (variant.gallery.images.first || variant.product.gallery.images.first),
            size: :mini), variant.product) %>
        <div class="content">
            <%= link_to line_item.name, product_path(variant.product) %>
            <div class="product-quantity" style="max-width: 175px;">
              <span class="qty-btn minus"><i class="fal fa-minus"></i></span>
                <%= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5 %>
              <span class="qty-btn plus" style="margin-right: 10px"><i class="fal fa-plus"></i></span>
              x <span class="amount"><%= line_item.price %></span>
            </div>
            <td class="remove" data-hook="cart_item_delete"><%= link_to 'x', '#', class: 'delete remove', id: "delete_#{dom_id(line_item)}", remote: true %></td>
        </div>
    </li>
<% end %>