<% admin_breadcrumb(link_to(plural_resource_name(BlogCategory), main_app.admin_blog_categories_path)) %>

<% content_for :page_actions do %>
  <li>
    <%= link_to 'New Blog Category', main_app.new_admin_blog_category_url, class: 'btn btn-primary' %>
  </li>
<% end %>

<% content_for :table_filter_title do %>
  <%= t('spree.filter') %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_blogs_index_search">
    <%= search_form_for @search, url: main_app.admin_blog_categories_path do |f| %>
      <div class="row">
        <div class="field-block col-12 col-md-6 col-lg-4 col-xl-3">

          <div class="field">
            <%= label_tag :name_cont, 'Name' %>
            <%= f.text_field :name_cont, value: params[:q][:name_cont], size: 25 %>
          </div>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_orders_index_search_buttons">
          <%= button_tag t('spree.filter_results'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @blog_categories.any? %>
  <table class="index" id="listing_orders" data-hook>
    <colgroup>
       <col style="width: 75%;">
       <col style="width: 25%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th>Name</th>
        <th data-hook="admin_orders_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @blog_categories.each do |category| %>
      <tr data-hook="admin_orders_index_rows">
        <td><%= category.name %></td>
        <td class='actions align-center' data-hook="admin_orders_index_row_actions">
          <%= link_to_edit_url main_app.edit_admin_blog_category_path(category), title: "admin_edit_#{dom_id(category)}", no_text: true %>
          <%= link_to main_app.admin_blog_category_path(category), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash"><% end %></td>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%= paginate @blog_categories, theme: "solidus_admin" %>
<% else %>
  <div class="no-objects-found">
    <% if can? :manage, BlogCategory %>
      <%= render 'spree/admin/shared/no_objects_found',
                   resource: BlogCategory,
                   new_resource_url: main_app.new_admin_blog_category_path %>
    <% end %>
  </div>
<% end %>