<% order = order_form.object %>
<%= render 'spree/shared/error_messages', target: order %>
<form class="cart-form" action="#">
  <table class="cart-wishlist-table table">
      <thead>
          <tr>
              <th class="name" colspan="2"><%= t('spree.item') %></th>
              <th class="price"><%= t('spree.price') %></th>
              <th class="quantity"><%= t('spree.qty') %></th>
              <th class="subtotal"><%= t('spree.total') %></th>
              <th class="remove">&nbsp;</th>
          </tr>
      </thead>
      <tbody>
        <% if @order.line_items.empty? %>
          <div data-hook="empty_cart">
            <p><%= t('spree.your_cart_is_empty') %></p>
          </div>
        <% else %>
          <%= render partial: 'spree/orders/line_item', collection: order.line_items, locals: { order_form: order_form } %>
        <% end %>
      </tbody>
  </table>
</form>
<div class="row justify-content-between mb-n3">
    <div class="col-auto mb-3">
        <div class="cart-coupon">
          <% if !@order.id.nil? %>
            <%= form_tag order_coupon_codes_path(@order), method: :post do %>
              <%= text_field_tag :coupon_code, nil, placeholder: t("spree.coupon_code"), size: 10 %>
              <%= submit_tag t("spree.apply_code") %>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="col-auto">
        <a class="btn btn-light btn-hover-dark mr-3 mb-3" href="/">Continue Shopping</a>
    </div>
</div>
<% if !@order.line_items.empty? %>
  <div class="cart-totals mt-5">
    <h2 class="title">Cart totals</h2>
    <table>
        <tbody>
            <% if order.all_adjustments.nonzero.any? || order.shipments.any? %>
              <tr class="subtotal">
                  <th><%= t('spree.cart_subtotal', count: order.line_items.sum(:quantity)) %></th>
                  <td><span class="amount"><%= order.display_item_total %></span></td>
              </tr>
              <%= render "spree/orders/adjustments" %>
            <% end %>
            <tr class="total">
                <th><%= t('spree.total') %></th>
                <td><strong><span class="amount"><%= order.display_total %></span></strong></td>
            </tr>
        </tbody>
    </table>
    <%= button_tag class: 'btn btn-dark btn-outline-hover-dark', id: 'checkout-link', name: 'checkout' do %>
      <%= t('spree.checkout') %>
    <% end %>
  </div>
<% end %>
