<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <tr>
      <td class="thumbnail"><%= link_to(render('spree/shared/image',
        image: (variant.gallery.images.first || variant.product.gallery.images.first),
        size: :small), variant.product) %></td>
      <td class="name"><%= link_to line_item.name, product_path(variant.product) %></td>
      <td class="price"><span>$<%= line_item.price %></span></td>
      <td class="quantity">
          <div class="product-quantity">
              <span class="qty-btn minus"><i class="ti-minus"></i></span>
              <%= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5 %>
              <span class="qty-btn plus"><i class="ti-plus"></i></span>
          </div>
      </td>
      <td class="subtotal"><span><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></span></td>
      <td class="remove"><%= link_to 'x', '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %></td>
  </tr>
<% end -%>