<% if @wallet_payment_sources.present? %>
  <div class="card_options">
    <%= radio_button_tag 'use_existing_card', 'yes', true %>
    <label for="use_existing_card_yes">
      <%= t('spree.use_existing_cc') %>
    </label>
    <br/>
    <%= radio_button_tag 'use_existing_card', 'no' %>
    <label for="use_existing_card_no">
      <%= t('spree.use_new_cc_or_payment_method') %>
    </label>
  </div>

  <div id="existing_cards">
    <div class="field" data-hook="existing_cards">
      <table class="existing-credit-card-list">
        <tbody>
          <% @wallet_payment_sources.each do |wallet_payment_source| %>
            <%=
              render(
                partial: "spree/checkout/existing_payment/#{wallet_payment_source.payment_source.payment_method.partial_name}",
                locals: {
                  wallet_payment_source: wallet_payment_source,
                  default: wallet_payment_source == @default_wallet_payment_source,
                }
              )
            %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<div class="col-12">
    <p class="mb-4 pb-2"><h5>Choose your preferred payment</h5></p>
</div>
<div class="col-12 pb-5 choose-payment-section">
    <% @order.available_payment_methods.each do |method| %>
        <% method_icon, method_label = '' %>

        <% if method.name == 'PayPal Commerce Platform' then 
          method_icon = 'fab fa-cc-paypal'
          method_name = 'PayPal' 
          elsif method.name == 'Credit Card' 
          method_icon = 'fas fa-credit-card'
          method_name = 'CC'
          elsif method.name == 'Check'
          method_icon = 'fas fa-money-check'
          method_name = 'Check' 
        end %>

        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first, class: 'checkbox-tools'  %>  
        <label class="for-checkbox-tools" for="order_payments_attributes__payment_method_id_<%= method.id %>">
          <i class="uil <%= method_icon %>"></i>
          <%= method_name %>
        </label>
    <% end %>
</div>
<ul id="payment-methods" class="checkout-form-list" data-hook>
  <% @order.available_payment_methods.each do |method| %>
    <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook style="<%= 'text-align:center' if method.name != 'Credit Card' %>">
      <%= render partial: "spree/checkout/payment/#{method.partial_name}", locals: { payment_method: method } %>
    </li>
  <% end %>
</ul>
<div class="form-buttons save-btn-container" data-hook="buttons">
  <%= button_tag class: 'btn btn-dark btn-outline-hover-dark', type: :submit do %>
    <i class="fa fa-pencil"></i> <%= t('spree.save_and_continue') %>
  <% end %>
  <script>Spree.disableSaveOnClick();</script>
</div>