<div class="col">
    <div class="product">
        <div class="product-thumb">
            <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
            <a href="<%= url %>" class="image">
                <span class="product-badges">
                    <span class="onsale">-27%</span>
                </span>
                <%= render('spree/shared/image', 
                    image: product.gallery.images.first, size: :product, itemprop: "image") %>
                <!-- <% if !product.gallery.images.second.nil? %>
                    <%= render('spree/shared/image', 
                        image: product.gallery.images.second, class: 'image-hover', size: :product, itemprop: "image") %>
                <% end %> -->
            </a>
        </div>
        <div class="product-info">
            <h6 class="title"><a href="product-details.html"><%= product.name %></a></h6>
            <span class="price">
                <!-- <span class="old">$30.00</span> -->
            <span class="new">$<%= product.price %></span>
            </span>
            <div class="product-buttons">
                <a data-bs-target="#quickViewModal" data-bs-toggle="modal" class="product-button hintT-top" data-hint="Quick View"><i class="fal fa-search"></i></a>
                <a href="#" class="product-button hintT-top" data-hint="Add to Cart"><i class="fal fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>