<div class="col">
    <div class="product">
        <div class="product-thumb">
            <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
            <a href="<%= url %>" class="image">
                <span class="product-badges">
                    <span class="onsale">-27%</span>
                </span>
                <%= render('spree/shared/image', 
                    image: product.gallery.images.first, size: :product, itemprop: "image") %>
                <% if !product.gallery.images.second.nil? %>
                    <%= render('spree/shared/image', image: product.gallery.images.second, size: :product, itemprop: "image", imgclass: "image-hover") %>
                <% end %>
            </a>
        </div>
        <div class="product-info">
            <h6 class="title2"><a href="<%= url %>"><%= product.name %></a></h6>
            <span class="price2">
                <!-- <span class="old">$30.00</span> -->
            <span class="new">$<%= product.price %></span>
            </span>
            <div class="product-buttons">
            </div>
            <div class="product-stock-status">
                <div class="bar">
                    <div class="progress" style="width: 84%;"></div>
                </div>
                <span class="sold">Sold: <span>8</span></span>
                <span class="available">Available: <span>42</span></span>
            </div>
        </div>
    </div>
</div>