<div class="page-title-section section" data-bg-image="<%= image_url 'for_use/bg/about-us-title.jpg' %>">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">About Us</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n30">
            <div class="col-lg-4 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <span class="sub-title">Pradipa.co</span>
                    <h2 class="title">Natural Looks Our Earth Loves</h2>
                </div>
            </div>
            <div class="col-lg-8 col-12 learts-mb-30">
                <%= image_tag 'for_use/about/about-6.jpg' %>
            </div>
        </div>
    </div>
</div>
<div class="section section-fluid section-padding pt-0">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-lg-6 col-12 text-center learts-mb-30">
                <%= image_tag 'for_use/about/about-7.jpg' %>
            </div>

            <div class="col-lg-6 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <div class="row learts-mb-n30">
                        <div class="col-xl-8 col-12 learts-mb-30">
                            <div class="desc mb-0">
                                <p>Our philosophy is to always work with partners that appreciate high quality handmade items. We have visited our partner's places and we can assure you that they are passionate with what they are doing so you can enjoy an outstanding products from them made purely by hands</p>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">ADDRESS</h6>
                                        <p>Jl. Raya Cibeber Cilaku No. 12, Kel. Sirnagalih, Kec. Cilaku, Kab. Cianjur, West Java, Indonesia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">PHONE</h6>
                                        <p>Mobile: (+62) – 812 – 8793 – 5234</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">EMAIL</h6>
                                        <p>support@pradipa.co</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<%= render partial: 'spree/sections/full_image_with_content_left', locals: {
    subtitle: "Managing Director",
    title: "Ahmad Ridwan 'Oji' Fauzi",
    body: "7+ years of working experience among 4 years of them living as an expatriate in Japan and France has opened Oji's global mindset. He was living in Japan for 3 years and co-founded a company that traded secondhand items for foreigners in Sapporo called 2Gaijin.com. Graduated from Global MBA at EDHEC Business School, he is now embarking on a journey to come up with solutions that align with the sustainable development goals.",
    img_url: "for_use/about/about-oji.jpg"
} %>
<%= render partial: 'spree/sections/full_image_with_content_right', locals: {
    subtitle: "Managing Operator",
    title: "Sony Wijaya",
    body: "Currently enrolled in Universitas Gadjah Mada as an MBA student, Sony also has 3 years of experience living as an expatriate in Japan. His sheer will and determination has led him to garner attentions on his social media. He is able to turn the attentions into a good influential impact that he truly believes in.",
    img_url: "for_use/about/about-sony.jpg"
} %>