<div class="page-title-section section" data-bg-image="<%= image_url 'for_use/bg/about-us-title.jpg' %>">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">About us 02</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">About us 02</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n30">
            <div class="col-lg-4 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <span class="sub-title">Pradipa</span>
                    <h2 class="title">Aspiration Inspired Happiness</h2>
                </div>
            </div>
            <div class="col-lg-8 col-12 learts-mb-30">
                <%= image_tag 'for_use/about/about-6.jpg' %>
            </div>
        </div>
    </div>
</div>
<div class="section section-fluid section-padding pt-0">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-lg-6 col-12 text-center learts-mb-30">
                <%= image_tag 'for_use/about/about-7.jpg' %>
            </div>

            <div class="col-lg-6 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <div class="row learts-mb-n30">
                        <div class="col-xl-8 col-12 learts-mb-30">
                            <div class="desc mb-0">
                                <p>Crafting beautiful stuff with our own hands and the help from useful tools is a wonderful process, where you can enjoy yourself while pulling out some ideas and busy perfecting your work.</p>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">FREE SHIPPING</h6>
                                        <p>1800 Abbot Kinney Blvd. Unit D & E Venice</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">PHONE</h6>
                                        <p>Mobile: (+88) – 1990 – 6886 <br> Hotline: 1800 – 1102</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">EMAIL</h6>
                                        <p>contact@leartsstore.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="section">
    <div class="video-banner" data-bg-image="<%= image_url 'for_use/banner/video/video-banner-1.jpg' %>">
        <div class="content">
            <h2 class="title">LITTLE <span>SIMPLE</span> THINGS</h2>
            <a href="https://www.youtube.com/watch?v=1jSsy7DtYgc" class="video-popup">
                <%= image_tag 'icons/button-play.png' %>
            </a>
        </div>
    </div>
</div>
<div class="section section-padding pt-0 mt-4">
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-1 learts-mb-n50">

            <div class="col align-self-center learts-mb-50 order-lg-2">
                <div class="section-title3 text-center m-0" data-bg-image="<%= image_url 'title/title-3.png' %>">
                    <h2 class="title">@leArts_store941</h2>
                    <p class="desc">Follow us on Instagram</p>
                </div>
            </div>

            <div class="col learts-mb-50">

                <div id="instafeed" class="instagram-carousel instagram-carousel1 instagram-feed"></div>

            </div>

        </div>

    </div>
</div>