<div class="parallax-banner parallax-banner-3" data-scrollax-parent="true" style="background:#00000044">
    <div class="text-center d-flex w-100" style="align-items:center;justify-content:center">
        <h1 class="title" style="color:white">From a humble beginning to the world</h1>
    </div>
    <div class="parallax-image" data-scrollax="properties: { translateY: '30%' }">
        <div class="responsive-iframe swiper-slide">
            <div class="iframe-video video-player" data-video-code="w-T0ptc81DA"></div>
        </div>
    </div>
</div>
<div class="section section-padding">
    <div class="container">

        <div class="section-title2 text-center">
            <h2 class="title title-icon-both">Our Humble Beginning</h2>
            <p>We embark on a journey of making an impact starting from empowering the people to have equal economical and social opportunities</p>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="portfolio-overview">
                    <p>Our journey started in 2021 when one of our co-founder, Fauzi, saw a huge potential in the handcrafted item producers in Indonesia and the way they integrate environmentally-friendly materials from the beginning of the production process in form of natural fibers. By utilizing their capabilities, it can be impactful in terms of sustainability as it contributes to the fairtrade mission and encouraging the use of eco-friendly materials. However, there is a major problem.</p>
                    <p>Our partners lack access to global reach. This means that the impact to the sustainability cannot be reached globally. Realizing there is a problem that needs to be solved, we position ourselves as a hub and also providers for the people who believe that the world is a better place when we move towards sustainability. The earth has been impacted by the climate change and we would like to be a part of the big story of how we can prevent that from happening.</p>
                    <div class="row learts-mt-30">
                        <div class="col-lg-6 col-12 learts-mb-30">
                            <div class="sale-banner7">
                                <div class="inner">
                                    <div class="image"><%= image_tag "for_use/our_story/story-1.jpg" %></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 learts-mb-30">
                            <div class="row learts-mb-n30">
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "for_use/our_story/story-2.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "for_use/our_story/story-5.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "for_use/our_story/story-3.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "for_use/our_story/story-4.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>