<div class="grid-item col-md-6 col-12 learts-mb-40">
    <div class="blog">
        <div class="image">
            <a href="blog-details-right-sidebar.html"><%= image_tag blog.featured_image.url %></a>
        </div>
        <div class="content">
            <ul class="meta">
                <li><i class="far fa-calendar"></i><a href="#"><%= blog.created_at %></a></li>
            </ul>
            <h5 class="title"><a href="blog-details-right-sidebar.html"><%= blog.title %></a></h5>
            <div class="desc">
                <p><%= blog.body %></p>
            </div>
            <%= link_to "Read More", main_app.blog_path(blog), class: 'link' %>
        </div>
    </div>
</div>