<div class="section section-padding border-bottom" style="padding-top:40px">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-title">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/products">Products</a></li>
                        <li class="breadcrumb-item active"><%= @product.name %></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row learts-mb-n40">
            
            <div class="col-lg-6 col-12 learts-mb-40">
                <div class="product-images">
                    <button class="product-gallery-popup hintT-left" data-hint="Click to enlarge" 
                      data-images='[
                        <% @product.gallery.images.each do |image| %>
                          {"src": "<%= image.url %>", "w": 600, "h": 600 },
                        <% end %>
                    ]'><i class="far fa-expand"></i></button>
                    <a href="https://www.youtube.com/watch?v=1jSsy7DtYgc" class="product-video-popup video-popup hintT-left" data-hint="Click to see video"><i class="fal fa-play"></i></a>
                    <div class="product-gallery-slider">
                        <% @product.gallery.images.each do |image| %>
                          <div class="product-zoom" data-image="<%= image.url %>">
                              <%= render('spree/shared/image', 
                                image: image, size: :large, itemprop: "image") %>
                          </div>
                        <% end %>
                    </div>
                    <div class="product-thumb-slider">
                      <% @product.gallery.images.each do |image| %>
                        <div class="item">
                          <%= render('spree/shared/image', 
                            image: image, size: :small, itemprop: "image") %>
                        </div>
                      <% end %>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 learts-mb-40">
                <div class="product-summery">
                    <h3 class="product-title"><%= @product.name %></h3>
                    <div class="product-price">$<%= @product.price %></div>
                    <div class="product-description">
                        <p><%= @product.description %></p>
                    </div>
                    <% if @product.variant_ids.any? %>
                      <div class="product-variations">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="label"><span>Size</span></td>
                                      <td class="value">
                                          <div class="product-sizes">
                                              <a href="#">Large</a>
                                              <a href="#">Medium</a>
                                              <a href="#">Small</a>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="label"><span>Color</span></td>
                                      <td class="value">
                                          <div class="product-colors">
                                              <a href="#" data-bg-color="#000000"></a>
                                              <a href="#" data-bg-color="#ffffff"></a>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="label"><span>Quantity</span></td>
                                      <td class="value">
                                          <div class="product-quantity">
                                              <span class="qty-btn minus"><i class="ti-minus"></i></span>
                                              <input type="text" class="input-qty" value="1">
                                              <span class="qty-btn plus"><i class="ti-plus"></i></span>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                    <% end %>
                    <div id="cart-form" data-hook="cart_form">
                      <%= render partial: 'cart_form' %>
                    </div>
                    <% brand = @product.taxons.where("permalink like ?", "brand%").first %>
                    <% if !brand.nil? %>
                        <div class="product-brands">
                            <span class="title">Brands</span>
                            <div class="brands">
                                <% if brand.icon.exists? %>
                                    <%= link_to spree.nested_taxons_path(brand) do %><%= image_tag brand.icon.url %><% end %>
                                <% else %>
                                    <%= link_to brand.name, spree.nested_taxons_path(brand) %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    <div class="product-meta">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="label"><span>SKU</span></td>
                                    <td class="value"><%= @product.sku %></td>
                                </tr>
                                <tr>
                                    <td class="label"><span>Category</span></td>
                                    <td class="value">
                                        <ul class="product-category">
                                          <% @product.taxons.each do |taxon| %>
                                            <li><%= link_to taxon.name, seo_url(taxon) %></li>
                                          <% end %>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><span>Tags</span></td>
                                    <td class="value">
                                        <ul class="product-tags">
                                            <li><a href="#">handmade</a></li>
                                            <li><a href="#">learts</a></li>
                                            <li><a href="#">mug</a></li>
                                            <li><a href="#">product</a></li>
                                            <li><a href="#">learts</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><span>Share on</span></td>
                                    <td class="va">
                                        <div class="product-share">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                            <a href="#"><i class="fal fa-envelope"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="section section-padding border-bottom">
    <div class="container">

        <ul class="nav product-info-tab-list">
            <li><a class="active" data-bs-toggle="tab" data-bs-target="#tab-description">Description</a></li>
            <li><a data-bs-toggle="tab" data-bs-target="#tab-pwb_tab">Brand</a></li>
            <li><a data-bs-toggle="tab" data-bs-target="#tab-additional_information">Additional information</a></li>
        </ul>
        <div class="tab-content product-infor-tab-content">
            <div class="tab-pane fade show active" id="tab-description">
                <div class="row">
                    <div class="col-lg-10 col-12 mx-auto">
                        <p>Easy clip-on handle – Hold the brush and dustpan together for storage; the dustpan edge is serrated to allow easy scraping off the hair without entanglement. High-quality bristles – no burr damage, no scratches, thick and durable, comfortable to remove dust and smaller particles. Rubber lip – The rubber lip on the front of the dustpan helps to remove all dust at once.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-pwb_tab">
                <div class="row learts-mb-n30">
                    <div class="col-12 learts-mb-30">
                        <div class="row learts-mb-n10">
                            <div class="col-lg-2 col-md-3 col-12 learts-mb-10"><img src="<%= image_url 'brands/brand-3.png' %>" alt=""></div>
                            <div class="col learts-mb-10">
                                <p>We’ve worked with numerous industries and famous fashion brands around the world. We have also created tremendous impacts on fashion manufacturing and online sales. When we partner with an eCommerce agency, we connect every activity to set the trend and win customers’ trust. We make sure our customers are always happy with our products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 learts-mb-30">
                        <div class="row learts-mb-n10">
                            <div class="col-lg-2 col-md-3 col-12 learts-mb-10"><img src="assets/images/brands/brand-8.png" alt=""></div>
                            <div class="col learts-mb-10">
                                <p>Prior to Houdini, there have been many clothing brands that achieved such a roaring success. However, there’s no other brand that can obtain such a precious position like us. We have successfully built our site to make more people know about our products as well as our motto. We’ve been the inspiration for many other small and medium-sized businesses.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-additional_information">
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-12 mx-auto">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <% @product_properties.each do |product_property| %>
                                        <tr>
                                            <td><%= product_property.property.presentation %></td>
                                            <td><%= product_property.value %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<% if @relatedproducts.any? %>
  <div class="section section-padding">
      <div class="container">

          <!-- Section Title Start -->
          <div class="section-title2 text-center">
              <h2 class="title">You Might Also Like</h2>
          </div>
          <!-- Section Title End -->

          <!-- Products Start -->
          <div class="product-carousel">
            <% @relatedproducts.each do |product| %>
              <%= render partial: 'spree/elements/product_card', locals: { product: product } %>
            <% end %>
          </div>

      </div>
  </div>
<% end %>