<% products ||= []
%>

<div class="card">
    <div class="card-body">
        <h4 class="card-title"><%= t('pd.products') %></h4>
        <p class="card-description">
            <%= t('pd.products_desc') %>
        </p>
        <p class="card-description">
            <a href="<%= main_app.producer_dashboard_support_page_path %>" class="btn btn-primary mr-2"><%= t('pd.click_to_change_products') %></a>
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><%= t('pd.image') %></th>
                        <th><%= t('pd.name') %></th>
                        <th><%= t('pd.default_price') %></th>
                        <th><%= t('pd.variants') %></th>
                    </tr>
                </thead>
                <tbody>
                    <% products.each do |product| %>
                        <tr>
                            <td class="py-1">
                                <%= image_tag product.gallery.images.first.try(:url, :mini) %>
                            </td>
                            <td><%= product.name.truncate(75) %></td>
                            <td class="text-danger">
                                <%= t('pd.currency_prefix') %> 
                                <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                    <%= product.price * @currency_value.value %>
                                <% else %>
                                    <%= product.price  %>
                                <% end %>
                            </td>
                            <td>
                                <% product.variants.each do |variant| %>
                                    <%= t('pd.currency_prefix') %> 
                                    <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                        <%= variant.price * @currency_value.value %>
                                    <% else %>
                                        <%= variant.price  %>
                                    <% end %><br>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>