<script>
    (function ($) {
        $(window).on('load', function () { $('.select2-basic').select2({ allowClear: true, placeholder: "Search..." }); })
    })(jQuery);
</script>

<div class="card m-2">
    <div class="card-body">
        <h4 class="card-title">Update Shipping Request</h4>
        <%= form_for @request, url: main_app.producer_dashboard_update_notif_path, html: { method: :put } do |f| %>
            <%= f.hidden_field :id, value: @request.id, required: true %>
            <div class="form-group">
                <%= f.field_container :status do %>
                    <%= f.label :status, class: 'required' %>
                    <%= f.select :status, options_for_select([ "processing", "shipped", "pending" ], @request.status), class: 'form-control select2-basic content-search' %>
                <% end %>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <% end %>
    </div>
</div>