<% wd_balances ||= [] 
    badge ||= 'info'
    home ||= false
%>

<div class="card">
    <div class="card-body">
        <h4 class="card-title"><%= t('pd.wd_balances') %></h4>
        <p class="card-description">
            <% if home %><a href="<%= main_app.producer_dashboard_withdrawals_page_path %>" class="btn btn-primary mr-2"><%= t('pd.see_all_wd_balances') %></a><% end %>
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <% if !wd_balances.empty? %>
                    <thead>
                        <tr>
                            <th><%= t('pd.order_number') %></th>
                            <th><%= t('pd.balance') %></th>
                            <th><%= t('pd.shipping_cost') %></th>
                            <th><%= t('pd.tax') %></th>
                            <th><%= t('pd.handling_fee') %></th>
                            <th><%= t('pd.net_total') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% wd_balances.each do |wd_balance| %>
                            <tr>
                                <td><%= wd_balance.order.number %></td>
                                <td>
                                    <%= t('pd.currency_prefix') %> 
                                    <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                        <%= wd_balance.balance * @currency_value.value %>
                                    <% else %>
                                        <%= wd_balance.balance %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= t('pd.currency_prefix') %> 
                                    <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                        <%= wd_balance.shipping * @currency_value.value %>
                                    <% else %>
                                        <%= wd_balance.shipping %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= t('pd.currency_prefix') %> 
                                    <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                        <%= wd_balance.tax * @currency_value.value %>
                                    <% else %>
                                        <%= wd_balance.tax %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= t('pd.currency_prefix') %> 
                                    <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                        <%= wd_balance.handling_fee * @currency_value.value %>
                                    <% else %>
                                        <%= wd_balance.handling_fee %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= t('pd.currency_prefix') %> 
                                    <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                        <%= wd_balance.total * @currency_value.value %>
                                    <% else %>
                                        <%= wd_balance.total %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                <% else %>
                    <h6><%= t('pd.withdrawal_balance_empty') %></h6>
                <% end %>
            </table>
        </div>
    </div>
</div>