<% wd_balances ||= [] 
    badge ||= 'info'
    home ||= false
%>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Withdrawal Balances</h4>
        <p class="card-description">
            <% if home %><a href="<%= main_app.producer_dashboard_withdrawals_page_path %>" class="btn btn-primary mr-2">See All Balances</a><% end %>
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <% if !wd_balances.empty? %>
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Balance</th>
                            <th>Shipping Cost</th>
                            <th>Tax</th>
                            <th>Handling Fee</th>
                            <th>Net Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% wd_balances.each do |wd_balance| %>
                            <tr>
                                <td><%= wd_balance.order.number %></td>
                                <td><%= wd_balance.balance %></td>
                                <td><%= wd_balance.shipping %></td>
                                <td><%= wd_balance.tax %></td>
                                <td><%= wd_balance.handling_fee %></td>
                                <td><%= wd_balance.total %></td>
                            </tr>
                        <% end %>
                    </tbody>
                <% else %>
                    <h6><%= t('pd.withdrawal_balance_empty') %></h6>
                <% end %>
            </table>
        </div>
    </div>
</div>