<% wd_requests ||= [] 
    badge ||= 'info'
    home ||= false
%>

<div class="card">
    <div class="card-body">
        <h4 class="card-title"><%= t('pd.withdrawal_requests') %></h4>
        <p class="card-description">
            <% if home %><a href="<%= main_app.producer_dashboard_withdrawals_page_path %>" class="btn btn-primary mr-2">See All Requests</a><% end %>
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <% if !wd_requests.empty? %>
                    <thead>
                        <tr>
                            <th><%= t('pd.balance') %></th>
                            <th>Status</th>
                            <th><%= t('pd.requested_at') %></th>
                            <th><%= t('pd.completed_at') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% wd_requests.each do |wd_request| %>
                            <% if wd_request.status == 'Completed' 
                                badge = 'success' 
                            else
                                badge = 'warning' 
                            end %>
                            <tr>
                                <td><%= t('pd.currency_prefix') %> 
                                    <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                        <%= wd_request.balance * @currency_value.value %>
                                    <% else %>
                                        <%= wd_request.balance  %>
                                    <% end %>
                                </td>
                                <td><label class="badge badge-<%= badge %>"><%= wd_request.status %></label></td>
                                <td><%= wd_request.created_at %></td>
                                <td><%= wd_request.completed_at %></td>
                            </tr>
                        <% end %>
                    </tbody>
                <% else %>
                    <h6><%= t('pd.withdrawal_request_empty') %></h6>
                <% end %>
            </table>
        </div>
    </div>
</div>