<% home ||= false
%>

<div class="card">
    <div class="card-body">
        <p class="card-title"><%= t('pd.withdrawal_summary') %></p>
        <p class="font-weight-500"><%= t('pd.withdrawal_summary_msg') %></p>
        <div class="d-flex flex-wrap">
            <div class="mr-5 mt-3">
                <p class="text-muted"><%= t('pd.balance') %></p>
                <h3 class="text-primary fs-30 font-weight-medium">$<%= @balance %></h3>
            </div>
            <div class="mr-5 mt-3">
                <p class="text-muted"><%= t('pd.wd_balance') %></p>
                <h3 class="text-primary fs-30 font-weight-medium">$<%= @wd_balance %></h3>
            </div>
            <div class="mr-5 mt-3">
                <p class="text-muted"><%= t('pd.orders_fulfilled') %></p>
                <h3 class="text-primary fs-30 font-weight-medium"><%= @shipped_items.count %></h3>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 text-center">
                <h4><%= t('pd.can_withdraw') %></h4>
                <h1 class="text-primary font-weight-medium">$<%= @available_balance %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 w-100 text-center">
                <% if home %>
                    <a href="<%= main_app.producer_dashboard_request_withdrawal_page_path %>" class="btn btn-primary mr-2"><%= t('pd.submit_wd_request') %></a>
                <% end %>
            </div>
        </div>
    </div>
</div>