<div class="card">
    <div class="card-body">
        <p class="card-title">Withdrawal Summary</p>
        <p class="font-weight-500">See how much you have balance in your account after fulfilling the orders</p>
        <div class="d-flex flex-wrap">
            <div class="mr-5 mt-3">
                <p class="text-muted">Total Balance</p>
                <h3 class="text-primary fs-30 font-weight-medium">$<%= @balance %></h3>
            </div>
            <div class="mr-5 mt-3">
                <p class="text-muted">Withdrawn Balance</p>
                <h3 class="text-primary fs-30 font-weight-medium">$<%= @wd_balance %></h3>
            </div>
            <div class="mr-5 mt-3">
                <p class="text-muted">Orders Fulfilled</p>
                <h3 class="text-primary fs-30 font-weight-medium"><%= @shipped_items.count %></h3>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 text-center">
                <h4>You Can Withdraw</h4>
                <h1 class="text-primary font-weight-medium">$<%= @available_balance %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 w-100 text-center">
                <a href="<%= main_app.producer_dashboard_request_withdrawal_page_path %>" class="btn btn-primary mr-2">Submit Withdraw Request</a>
            </div>
        </div>
    </div>
</div>