<% wd_requests ||= [] 
    badge ||= 'info'
    status ||= ''
    home ||= false
%>

<div class="card">
    <div class="card-body">
        <h4 class="card-title"><%= t('pd.withdrawal_requests') %></h4>
        <p class="card-description">
            <% if home %><a href="<%= main_app.producer_dashboard_withdrawals_page_path %>" class="btn btn-primary mr-2"><%= t('pd.see_all_wd_requests') %></a><% end %>
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <% if !wd_requests.empty? %>
                    <thead>
                        <tr>
                            <th><%= t('pd.balance') %></th>
                            <th><%= t('pd.status') %></th>
                            <th><%= t('pd.requested_at') %></th>
                            <th><%= t('pd.completed_at') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% wd_requests.each do |wd_request| %>
                            <% if wd_request.status.downcase() == 'completed' 
                                badge = 'success'
                                status = I18n.t('pd.completed') 
                            elsif wd_request.status.downcase() == 'requested' 
                                badge = 'info' 
                                status = I18n.t('pd.requested') 
                            elsif wd_request.status.downcase() == 'processing' 
                                badge = 'warning'
                                status = I18n.t('pd.processing') 
                            elsif wd_request.status.downcase() == 'confirming' 
                                badge = 'warning'
                                status = I18n.t('pd.confirming') 
                            end %>
                            <tr>
                                <td><%= t('pd.currency_prefix') %> 
                                    <% if t('currency_code') != "USD" && !@currency_value.nil? %>
                                        <%= wd_request.balance * @currency_value.value %>
                                    <% else %>
                                        <%= wd_request.balance  %>
                                    <% end %>
                                </td>
                                <td><label class="badge badge-<%= badge %>"><%= status %></label></td>
                                <td class="moment-container"><%= wd_request.created_at %></td>
                                <td class="moment-container"><%= wd_request.completed_at %></td>
                            </tr>
                        <% end %>
                    </tbody>
                <% else %>
                    <h6><%= t('pd.withdrawal_request_empty') %></h6>
                <% end %>
            </table>
        </div>
    </div>
</div>