<div class="page-title-section section" data-bg-image="<%= image_url "bg/page-title-1.jpg" %>">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title"><%= @taxon.name %></h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"><%= @taxon.name %></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Portfolio Section Start -->
<div class="section section-padding border-bottom">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-xl-8 col-12 learts-mb-30">
                <div class="portfolio-image">
                  <%= image_tag "portfolio/single/portfolio-1.jpg" %>
                </div>
            </div>

            <div class="col-xl-4 col-12 learts-mb-30">
                <div class="portfolio-content">
                    <h2 class="title"><%= @taxon.name %></h2>
                    <div class="desc">
                        <p><%= @taxon.description %></p>
                    </div>
                    <ul class="meta">
                        <li>
                            <span class="name">Date:</span>
                            <span class="value">02:27 AM - November 22, 2018</span>
                        </li>
                        <li>
                            <span class="name">Categories:</span>
                            <span class="value category">
                                <a href="#">Decor</a>
                                <a href="#">Toy</a>
                            </span>
                        </li>
                        <li>
                            <span class="name">Tags:</span>
                            <span class="value tags">
                                <a href="#">trending</a>
                            </span>
                        </li>
                        <li>
                            <span class="name">Share:</span>
                            <span class="value social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fal fa-envelope"></i></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Portfolio Section End -->

<!-- Portfolio Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h2 class="title title-icon-both">Project Overview</h2>
            <p>Below are the products that we recommend to you based on your liking and popularity of the products</p>
        </div>
        <!-- Section Title End -->

        <div class="row">
            <div class="col-12">
                <div class="portfolio-overview">
                    <div class="row learts-mt-30">
                        <div class="col-lg-6 col-12 learts-mb-30">
                            <div class="sale-banner7">
                                <div class="inner">
                                    <div class="image">
                                      <%= image_tag "product/single/3/banner/banner-1.jpg" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 learts-mb-30">
                            <div class="row learts-mb-n30">
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image">
                                              <%= image_tag "product/single/3/banner/banner-2.jpg" %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "product/single/3/banner/banner-3.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "product/single/3/banner/banner-4.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 learts-mb-30">
                                    <div class="sale-banner7">
                                        <div class="inner">
                                            <div class="image"><%= image_tag "product/single/3/banner/banner-5.jpg" %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Then I got to learn about how to start a website on my own. I created a website called leartshandmade.com. I spent years developing it, teaching HTML to myself, networking with in-field professionals, and growing it into a profitable business.</p>
                    <p>Throughout the years, I cooperated with plenty of craft companies to grow my website. I had worked as the craft expert for Miimo Studio (miimo.thememove.com), and created fun crafts for kids from 2009-2016. Also, I have self-published many online magazines, including ForHer.mag.com, LiveLife.com & ForEverYoung.net.</p>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Portfolio Section End -->