<% admin_breadcrumb(link_to(plural_resource_name(Spree::Withdrawal), main_app.admin_withdrawals_path)) %>

<% content_for :page_actions do %>
  <li>
    <%= link_to 'New Withdrawal Info', main_app.new_admin_withdrawal_url, class: 'btn btn-primary' %>
  </li>
<% end %>

<% if @requests.any? %>
  <table class="index" id="listing_orders" data-hook>
    <colgroup>
       <col style="width: 15%;">
       <col style="width: 25%;">
       <col style="width: 20%;">
       <col style="width: 10%;">
       <col style="width: 15%;">
       <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th><%= link_to "Withdrawer's Email", main_app.admin_withdrawal_requests_path(sort: "email asc") %></th>
        <th><%= link_to "Requested Balance", main_app.admin_withdrawal_requests_path(sort: "balance asc") %></th>
        <th><%= link_to "Status", main_app.admin_withdrawal_requests_path(sort: "status asc") %></th>
        <th><%= link_to "Requested At", main_app.admin_withdrawal_requests_path(sort: "created_at asc") %></th>
        <th><%= link_to "Completed At", main_app.admin_withdrawal_requests_path(sort: "completed_at asc") %></th>
        <th data-hook="admin_orders_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @requests.each do |r| %>
      <tr data-hook="admin_orders_index_rows">
        <td><%= link_to r.withdrawal.user.email, edit_admin_user_path(r.withdrawal.user) %></td>
        <td><%= r.balance %></td>
        <td><%= r.status %></td>
        <td><%= r.created_at %></td>
        <td><%= r.completed_at %></td>
        <td class='actions align-center' data-hook="admin_orders_index_row_actions">
          <%= link_to_edit_url main_app.edit_admin_withdrawal_request_path(r), title: "admin_edit_#{dom_id(r)}", no_text: true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%= paginate @requests, theme: "solidus_admin" %>
<% else %>
  <div class="no-objects-found">
    <% if can? :manage, Spree::WithdrawalRequest %>
      <%= render 'spree/admin/shared/no_objects_found',
                   resource: Spree::WithdrawalRequest,
                   new_resource_url: main_app.new_admin_withdrawal_request_path %>
    <% end %>
  </div>
<% end %>