<% method ||= 'post' %>
<% @url = (method == 'post' ? main_app.blogs_path : main_app.blog_path(spree_blog)) %>

<%= form_for spree_blog, as: :spree_blog, url: @url do |form| %>
  <% if spree_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spree_blog.errors.count, "error") %> prohibited this spree_blog from being saved:</h2>

      <ul>
        <% spree_blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :meta_title %>
    <%= form.text_field :meta_title %>
  </div>

  <div class="field">
    <%= form.label :meta_keyword %>
    <%= form.text_field :meta_keyword %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>
  
  <div class="field">
    <p>
      <label>Featured Image</label>
      <%= image_tag(spree_blog.featured_image_url) if spree_blog.featured_image? %>
      <%= form.file_field :featured_image %>
    </p>

    <p>
      <label>
        <%= form.check_box :remove_featured_image %>
        Remove Featured Image
      </label>
    </p>
  </div>

  <div class="field">
    <%= form.label :edited_at %>
    <%= form.datetime_select :edited_at %>
  </div>

  <div class="field">
    <%= form.label :blog_category %>
    <%= select_tag :blog_category, 
      options_for_select(@blog_categories.map {|t| [t.name, t.id]}), class: 'search-select select2-basic', 'aria-label' => 'Blog Category', id: :blog_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>