<div class="section section-padding" style="padding-top:20px">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <div class="page-title">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Blogs</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row learts-mb-n50">
            <%  paginated_blogs = @blogs if params.key?(:keywords)
                paginated_blogs ||= @blogs %>

            <div class="col-xl-9 col-lg-8 col-12 learts-mb-50">
                <div class="row isotope-grid learts-mb-n40">
                    <div class="col-1 grid-sizer"></div>
                    <% if !@blogs.any? %>
                        <h5>Your query does not yield any result. Please try again with another query</h5>
                    <% end %>
                    <% @blogs.each do |blog| %>
                        <%= render partial: 'spree/blogs/partials/grid', locals: { blog: blog } %>
                    <% end %>
                </div>

                <div class="row learts-mt-50">
                    <% if paginated_blogs.respond_to?(:total_pages) %>
                        <div class="text-center learts-mt-70 enable-x-scroll bring-to-front">
                            <%= paginate paginated_blogs, theme: 'store_frontend' %>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-12 learts-mb-10">
                <div class="single-widget learts-mb-40">
                    <div class="">
                        <%= search_form_for @q, url: main_app.blogs_path do |f| %>
                            <%= f.search_field :title_or_body_cont, placeholder: "Search posts..." %>
                            <h4 class="mt-4">Categories</h4>
                            <%= f.select :blog_category_id_eq, BlogCategory.all.map {|t| [t.name, t.id]}, {include_blank: true, required: true, include_hidden: true, prompt: 'Select Category'}, class: 'form-control select2-basic content-search' %>
                            <%= button_tag class: 'full-width btn btn-dark btn-outline-hover-dark mt-4', id: 'add-to-cart-button', type: :submit do %>
                                <i class="fal fa-search"></i> <%= t('spree.search') %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                
                <div class="single-widget learts-mb-40">
                    <h3 class="widget-title product-filter-widget-title">Recent Post</h3>
                    <ul class="widget-blogs">
                        <% @recent_blogs.each do |blog| %>
                            <%= render partial: 'spree/blogs/partials/recent_post', locals: { blog: blog } %>
                        <% end %>
                    </ul>
                </div>

                <div class="single-widget learts-mb-40">
                    <div class="widget-banner">
                        <img src="assets/images/banner/widget-banner.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>