<div class="col-12 choose-payment-section">
    <% product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
        <%= radio_button_tag "variant_id", variant.id, index == 0, class: 'checkbox-tools'  %>  
        <%= label_tag "variant_id_#{ variant.id }", class: 'for-checkbox-tools variant-checkbox', onclick: 'window.changeActiveSlide(' + index.to_s + ')' do %>
            <span class="variant-description">
                <%= variant_options variant %>
            </span>
            <% if variant_price variant %>
            <span class="price diff"><%= variant_price variant %></span>
            <% end %>

            <% unless variant.can_supply? %>
                <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
            <% end %>
        <% end %>
    <% end %>
</div>