<% admin_breadcrumb(link_to(plural_resource_name(Spree::Withdrawal), main_app.admin_withdrawals_path)) %>

<% content_for :page_actions do %>
  <li>
    <%= link_to 'New Withdrawal Info', main_app.new_admin_withdrawal_url, class: 'btn btn-primary' %>
  </li>
<% end %>

<% if @withdrawals.any? %>
  <table class="index" id="listing_orders" data-hook>
    <colgroup>
       <col style="width: 15%;">
       <col style="width: 25%;">
       <col style="width: 20%;">
       <col style="width: 10%;">
       <col style="width: 15%;">
       <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th><%= link_to "Email", main_app.admin_withdrawals_path(sort: "email asc") %></th>
        <th><%= link_to "Bank Number", main_app.admin_withdrawals_path(sort: "bank_number asc") %></th>
        <th><%= link_to "Bank Name", main_app.admin_withdrawals_path(sort: "bank_name asc") %></th>
        <th><%= link_to "Bank Swift Code", main_app.admin_withdrawals_path(sort: "bank_swift_code asc") %></th>
        <th><%= link_to "Bank Country", main_app.admin_withdrawals_path(sort: "bank_country asc") %></th>
        <th data-hook="admin_orders_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @withdrawals.each do |withdrawal| %>
      <tr data-hook="admin_orders_index_rows">
        <td><%= link_to withdrawal.user.email, edit_admin_user_path(withdrawal.user) %></td>
        <td><%= withdrawal.bank_number %></td>
        <td><%= withdrawal.bank_name %></td>
        <td><%= withdrawal.bank_swift_code %></td>
        <td><%= withdrawal.bank_country %></td>
        <td class='actions align-center' data-hook="admin_orders_index_row_actions">
          <%= link_to_edit_url main_app.edit_admin_withdrawal_path(withdrawal), title: "admin_edit_#{dom_id(withdrawal)}", no_text: true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%= paginate @withdrawals, theme: "solidus_admin" %>
<% else %>
  <div class="no-objects-found">
    <% if can? :manage, Spree::Withdrawal %>
      <%= render 'spree/admin/shared/no_objects_found',
                   resource: Spree::Withdrawal,
                   new_resource_url: main_app.new_admin_withdrawal_path %>
    <% end %>
  </div>
<% end %>