<div class="section section-padding">
  <div class="container">
    <div data-hook="inside_cart_form">
      <div data-hook="cart_items">
        <%= render 'spree/shared/error_messages', target: order %>
        <table class="cart-wishlist-table table">
            <thead>
                <tr>
                    <th class="name" colspan="2"><%= t('spree.item') %></th>
                    <th class="price"><%= t('spree.price') %></th>
                    <th class="quantity"><%= t('spree.qty') %></th>
                    <th class="subtotal"><%= t('spree.total') %></th>
                </tr>
            </thead>
            <tbody>
              <% order.line_items.each do |item| %>
                <tr class="<%= cycle('', 'alt') %> line-item">
                    <td class="thumbnail"><%= link_to(render('spree/shared/image',
                      image: (item.variant.gallery.images.first || item.variant.product.gallery.images.first),
                      size: :small), item.variant.product) %></td>
                    <td class="name">
                      <%= link_to item.name, product_path(item.variant.product) %><br>
                      <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
                    </td>
                    <td class="price"><span><%= item.single_money.to_html %></span></td>
                    <td class="quantity">
                        <div class="product-quantity">
                            <%= item.quantity %>
                        </div>
                    </td>
                    <td class="subtotal"><span><%= item.display_amount.to_html %></span></td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <% if order.has_checkout_step?("address") %>
              <div class="columns alpha four" data-hook="order-bill-address">
                <h6><%= t('spree.billing_address') %> <%= link_to "(#{t('spree.actions.edit')})", checkout_state_path(:address) unless order.completed? %></h6>
                <%= render partial: 'spree/shared/address', locals: { address: order.bill_address } %>
              </div>
            <% end %>
            <% if order.has_checkout_step?("payment") %>
              <div class="columns omega four">
                <h6><%= t('spree.payment_information') %> <%= link_to "(#{t('spree.actions.edit')})", checkout_state_path(:payment) unless order.completed? %></h6>
                <div class="payment-info">
                  <% order.payments.valid.each do |payment| %>
                    <%= render payment %><br/>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <% if order.has_checkout_step?("address") %>

              <% if order.has_checkout_step?("delivery") %>
                <div class="columns alpha four" data-hook="order-ship-address">
                  <h6><%= t('spree.shipping_address') %> <%= link_to "(#{t('spree.actions.edit')})", checkout_state_path(:address) unless order.completed? %></h6>
                  <%= render partial: 'spree/shared/address', locals: { address: order.ship_address } %>
                </div>

                <div class="columns alpha four" data-hook="order-shipment">
                  <h6><%= t('spree.shipments') %> <%= link_to "(#{t('spree.actions.edit')})", checkout_state_path(:delivery) unless order.completed? %></h6>
                  <div class="delivery">
                    <% order.shipments.each do |shipment| %>
                      <div>
                        <i class='fa fa-truck'></i>
                        <%= t('spree.shipment_details', stock_location: shipment.stock_location.name, shipping_method: shipment.selected_shipping_rate.name) %>
                      </div>
                    <% end %>
                  </div>
                  <%= render(partial: 'spree/shared/shipment_tracking', locals: {order: order}) if order.shipped? %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="cart-totals">
              <h2 class="title">Cart totals</h2>
              <table>
                  <tbody>
                      <% if order.all_adjustments.nonzero.any? || order.shipments.any? %>
                        <tr class="subtotal">
                            <th><%= t('spree.cart_subtotal', count: order.line_items.sum(:quantity)) %></th>
                            <td><span class="amount"><%= order.display_item_total %></span></td>
                        </tr>
                        <%= render "spree/orders/adjustments" %>
                      <% end %>
                      <tr class="total">
                          <th><%= t('spree.total') %></th>
                          <td><strong><span class="amount"><%= order.display_total %></span></strong></td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row steps-data">

  
</div>

<hr />
