<%= render partial: 'spree/sections/video_banner', locals: { videoCode: "c86b7hyQJvY", link: "/collection/mediterranean-fashion-collection" } %>
<%= render partial: 'spree/sections/what_we_do' %>
<%= render partial: 'spree/sections/our_missions' %>

<div class="text-center learts-mb-10" style="padding:20px">
    <h2 class="title title-icon-both">Our Recent Collections</h2>
    <div id="shop-products" class="products isotope-grid row row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-2">
        <div class="grid-sizer col-1"></div>
        <% @recent_products.each do |product| %>
            <div class="grid-item col">
                <%= render partial: 'spree/elements/product_card', locals: { product: product } %>
            </div>
        <% end %>
    </div>
</div>
<div class="row learts-mt-30 mb-4">
    <div class="col" style="text-align:center">
        <a href="/products" class="btn btn-dark btn-hover-primary">View All Products</a>
    </div>
</div>
<%= render partial: 'spree/sections/feature' %>
<%= render partial: 'spree/sections/our_story' %>
<%= render partial: 'spree/sections/contact_us_banner' %>
<%= render partial: 'spree/sections/recent_posts', locals: { blogs: @recent_posts } %>